<mat-toolbar>
  <span>Centro de conciliación laboral del estado de guanajuato.</span>
  <!-- Podríamos añadir un logo aquí más tarde si es necesario -->
  <!-- <img src="assets/logo.svg" alt="Logo" class="header-logo"> -->

  <span class="spacer"></span> <!-- Para empujar elementos a la derecha -->

  <!-- Ejemplo de botones o menú si se necesitan en el futuro -->
  <!--
  <button mat-icon-button aria-label="Example icon-button with a heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-button>Opción 1</button>
  <button mat-button>Opción 2</button>
  -->
</mat-toolbar>
