<h2 mat-dialog-title>Recuperar Contraseña</h2>
<mat-dialog-content>
  <p>Por favor, ingresa tu CURP o RFC para continuar.</p>
  <form [formGroup]="forgotPasswordForm">
    <mat-form-field appearance="outline">
      <mat-label>CURP o RFC</mat-label>
      <input matInput formControlName="identifier" placeholder="CURP o RFC">
      @if (forgotPasswordForm.get('identifier')?.hasError('required') && forgotPasswordForm.get('identifier')?.touched) {
        <mat-error>Este campo es requerido.</mat-error>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button [mat-dialog-close]="forgotPasswordForm.value.identifier" [disabled]="forgotPasswordForm.invalid">Enviar</button>
</mat-dialog-actions>
