<!-- login.component.html -->
<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Iniciar Sesión</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Correo Electrónico</mat-label>
          <input matInput placeholder="usuario@ejemplo.com" formControlName="email">
          @if (loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched) {
            <mat-error>El correo es requerido.</mat-error>
          }
          @if (loginForm.get('email')?.hasError('email') && loginForm.get('email')?.touched) {
            <mat-error>Formato de correo inválido.</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" formControlName="password">
          @if (loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched) {
            <mat-error>La contraseña es requerida.</mat-error>
          }
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Ingresar</button>

        <div class="separator">
          <span>o</span>
        </div>

        <button mat-raised-button class="google-btn" (click)="loginWithGoogle()">
          <img src="assets/images/bt-gmail.svg" alt="Google Icon">
          Iniciar sesión con Google
        </button>
      </form>
      <p class="register-link">
        ¿No tienes cuenta? <a routerLink="/registro">Regístrate aquí</a>
      </p>
    </mat-card-content>
  </mat-card>
</div>
