<div class="login-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Iniciar Sesión</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Correo Electrónico</mat-label>
            <input matInput placeholder="usuario@ejemplo.com" formControlName="email">
            <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
              El correo es requerido.
            </mat-error>
            <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
              Formato de correo inválido.
            </mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" formControlName="password">
            <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
              La contraseña es requerida.
            </mat-error>
          </mat-form-field>
        </p>
        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Ingresar</button>
      </form>
      <p class="register-link">
        ¿No tienes cuenta? <a routerLink="/registro">Regístrate aquí</a>
      </p>
    </mat-card-content>
  </mat-card>
</div>
