<div class="breadcrumbs-container">
   <div *ngIf="ver_breadcrumb; else homeIconBlock">
      <div class="breadcrumb-row">
        <button mat-icon-button (click)="goBack()" aria-label="Regresar" >
          <mat-icon style="color:goldenrod;">arrow_back</mat-icon>
        </button>
        <span class="breadcrumb-text">{{ breadcrumb }}</span>
      </div>
    </div>
    <ng-template #homeIconBlock>
      <div class="breadcrumb-row">
         <button mat-icon-button aria-label="Regresar" >
          <mat-icon>home</mat-icon>
        </button>
        <span class="breadcrumb-text">Inicio</span>
      </div>
    </ng-template>
</div>
