mat-card-content{
  margin-top: -2rem;
 }

 .sin-sombra {
  box-shadow: none !important;
}

.small{
  margin-left: 0.5rem;
  font-size: 0.9rem;
  color: #666;
  font-weight: bold;
  font-style: italic;
}


 @media (max-width: 768px) {
      .form-row {
        flex-direction: column;
        gap: 0;
      }

      .solicitudes-container {
        margin: 0.7rem;
        padding: 0.7rem;
      }
    }


