<div class="grap-form">

  <div *ngIf="isLoading" class="loading-indicator">
    <p>Cargando datos del solicitante...</p>
  </div>

  <div class="step-form" *ngIf="!isLoading">
    <div class="datos-solicitante">
      <div class="show-person">
        <form [formGroup]="solicitanteForm">
            <div class="form-row">
              <mat-form-field appearance="outline">
                <mat-label>CURP</mat-label>
                <input matInput formControlName="curp" placeholder="Ingrese su CURPs" [readonly]="!isEditMode" maxlength="18">
                  <button mat-icon-button matSuffix
                        type="button"
                        (click)="abrirDialogoBusqueda()"
                        [disabled]="!isEditMode"
                        >
                        <mat-icon>search</mat-icon>
                  </button>
                  @if(formUtils.isValidField(solicitanteForm,'curp')){
                    <mat-error>{{formUtils.getFieldError(solicitanteForm,'curp')}}</mat-error>
                  }
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="nombre" placeholder="Ingrese su nombre" [readonly]="!isEditMode">
                @if(formUtils.isValidField(solicitanteForm,'nombre')){
                  <mat-error>{{formUtils.getFieldError(solicitanteForm,'nombre')}}</mat-error>
                }
              </mat-form-field>


              <!-- <mat-form-field appearance="outline" *ngIf="shouldShowRfc">
                <mat-label>RFC</mat-label>
                <input matInput formControlName="rfc" placeholder="Ingrese su RFC" [readonly]="!isEditMode" maxlength="13">
                <mat-error *ngIf="solicitanteForm.get('rfc')?.hasError('pattern') && solicitanteForm.get('rfc')?.touched">
                  El RFC no es válido.
                </mat-error>
              </mat-form-field>
              -->



            </div>

            <div class="form-row">

              <mat-form-field appearance="outline">
                <mat-label>Primer Apellido</mat-label>
                <input matInput formControlName="primerApellido" placeholder="Primer apellido" [readonly]="!isEditMode">
                @if(formUtils.isValidField(solicitanteForm,'primerApellido')){
                  <mat-error>{{formUtils.getFieldError(solicitanteForm,'primerApellido')}}</mat-error>
                }
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Segundo Apellido (Opcional)</mat-label>
                <input matInput formControlName="segundoApellido" placeholder="Segundo apellido" [readonly]="!isEditMode">
              </mat-form-field>
            </div>

            <div class="form-row">
              <mat-form-field appearance="outline">
                <mat-label>Teléfono Celular</mat-label>
                <input matInput formControlName="telefonoCel" placeholder="Número de teléfono celular" [readonly]="!isEditMode">
                @if(formUtils.isValidField(solicitanteForm,'telefonoCel')){
                  <mat-error>{{formUtils.getFieldError(solicitanteForm,'telefonoCel')}}</mat-error>
                }
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Correo Electrónico</mat-label>
                <input matInput formControlName="correo" type="email" placeholder="correo@ejemplo.com" [readonly]="!isEditMode">
                @if(formUtils.isValidField(solicitanteForm,'correo')){
                  <mat-error>{{formUtils.getFieldError(solicitanteForm,'correo')}}</mat-error>
                }
              </mat-form-field>

            </div>


            <div class="form-row">

              <mat-form-field appearance="outline">
                <mat-label>Género*</mat-label>
                <mat-select
                    formControlName="generoID"
                    name="generoID"
                  >
                    <mat-option *ngFor="let gen of generos" [value]="gen.id">
                        {{gen.nombre}}
                    </mat-option>
                  </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline">
                  <mat-label>Escolaridad</mat-label>
                  <mat-select
                    formControlName="escolaridadID"
                    name="escolaridadID"
                    >
                      <mat-option *ngFor="let esc of escolaridades" [value]="esc.id">
                          {{esc.nombre}}
                      </mat-option>
                    </mat-select>
              </mat-form-field>
              @if(formUtils.isValidField(solicitanteForm,'escolaridadID')){
                <mat-error>{{formUtils.getFieldError(solicitanteForm,'escolaridadID')}}</mat-error>
              }
              <mat-form-field appearance="outline">
                  <mat-label>Nacionalidad</mat-label>
                  <mat-select
                      formControlName="nacionalidadID"
                      name="nacionalidadID"
                    >
                      <mat-option *ngFor="let nac of nacionalidades" [value]="nac.id">
                          {{nac.nombre}}
                      </mat-option>
                    </mat-select>
              </mat-form-field>
            </div>
            <div class="form-row">
              <mat-form-field appearance="outline">
                <mat-label>Estado Civil</mat-label>
                <mat-select
                      formControlName="estadoCivilID"
                      name="estadoCivilID"
                    >
                      <mat-option *ngFor="let civ of civil" [value]="civ.id">
                          {{civ.nombre}}
                      </mat-option>
                    </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Grupo en situación de vulnerabilidad*</mat-label>
                <mat-select
                      formControlName="grupoVulnerableID"
                      name="grupoVulnerableID"
                    >
                      <mat-option *ngFor="let gru of gruposv" [value]="gru.id">
                          {{gru.nombre}}
                      </mat-option>
                    </mat-select>
              </mat-form-field>
            </div>

            <div class="form-row">
              <mat-form-field appearance="outline">
                <mat-label>Cargo</mat-label>
                <input matInput formControlName="nombreOcupacion" type="nombreOcupacion" placeholder="Cargo">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Tipo Identificación*</mat-label>
                  <mat-select
                    formControlName="tipoIdentificacionID"
                    name="tipoIdentificacionID"
                    >
                    <mat-option *ngFor="let ids of identifs" [value]="ids.id">
                        {{ids.nombre}}
                    </mat-option>
                  </mat-select>
              </mat-form-field>
            </div>
        </form>

      </div>


      <div class="step-actions">
          <button *ngIf="precapturaPersonaID && !isEditMode"
                  mat-stroked-button color="accent"
                  (click)="enableEditMode()"
                  class="edit-button">
              <mat-icon>edit</mat-icon>
              Habilitar Edición
          </button>

          <button *ngIf="isEditMode"
                  mat-raised-button color="primary"
                  [disabled]="solicitanteForm.invalid"
                  (click)="guardarSolicitante()">
              {{ precapturaPersonaID ? 'Guardar Cambios' : 'Siguiente' }}
              <mat-icon>{{ precapturaPersonaID ? 'save' : 'navigate_next' }}</mat-icon>
          </button>

          <button *ngIf="!precapturaPersonaID && !isEditMode"
                  mat-raised-button color="primary"
                  (click)="enableEditMode()">
              Agregar Solicitante
              <mat-icon>add</mat-icon>
          </button>
      </div>




    </div>


</div>
