<div class="grap-form">

  <div *ngIf="isLoading" class="loading-indicator">
    <p>Cargando datos del solicitante...</p>
    </div>

  <form [formGroup]="solicitanteForm" class="step-form" *ngIf="!isLoading">

    <mat-accordion>

      <mat-expansion-panel [expanded]="true"> <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>Datos del Solicitante</strong>
          </mat-panel-title>
        </mat-expansion-panel-header>

         <!-- <div class="full-row">
           <div *ngIf="!isPatron()" class="elegant-label">
             <mat-label>Tipo de persona:</mat-label>
             <span class="type-value">Física</span>
           </div>
         </div> -->

          <div class="form-row">
            <mat-form-field appearance="outline">
              <mat-label>Tipo de Persona</mat-label>
              <mat-select
                  formControlName="internalPersonTypeId"
                  (selectionChange)="onInternalPersonTypeChange($event.value)"
                  name="internalPersonType"
                >
                  <mat-option *ngFor="let type of internalPersonTypes" [value]="type.id">
                    {{type.nombre}}
                  </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" *ngIf="shouldShowCurp">
              <mat-label>CURP</mat-label>
              <input matInput formControlName="curp" placeholder="Ingrese su CURP" [readonly]="!isEditMode">
              <mat-error *ngIf="solicitanteForm.get('curp')?.hasError('required') && solicitanteForm.get('curp')?.touched">
                El CURP es obligatorio.
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" *ngIf="shouldShowRfc">
              <mat-label>RFC</mat-label>
              <input matInput formControlName="rfc" placeholder="Ingrese su RFC" [readonly]="!isEditMode">
              <mat-error *ngIf="solicitanteForm.get('rfc')?.hasError('required') && solicitanteForm.get('rfc')?.touched">
                El RFC es obligatorio.
              </mat-error>
            </mat-form-field>

          </div>

        <div class="form-row">
          <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre" placeholder="Ingrese su nombre" [readonly]="!isEditMode">
            <mat-error *ngIf="solicitanteForm.get('nombre')?.hasError('required') && solicitanteForm.get('nombre')?.touched">
              El nombre es requerido
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Primer Apellido</mat-label>
            <input matInput formControlName="primerApellido" placeholder="Primer apellido" [readonly]="!isEditMode">
            <mat-error *ngIf="solicitanteForm.get('primerApellido')?.hasError('required') && solicitanteForm.get('primerApellido')?.touched">
              El primer apellido es requerido
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field appearance="outline">
            <mat-label>Segundo Apellido (Opcional)</mat-label>
            <input matInput formControlName="segundoApellido" placeholder="Segundo apellido" [readonly]="!isEditMode">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Teléfono Celular</mat-label>
            <input matInput formControlName="telefonoCel" placeholder="Número de teléfono celular" [readonly]="!isEditMode">
            <mat-error *ngIf="solicitanteForm.get('telefonoCel')?.hasError('pattern') && solicitanteForm.get('telefonoCel')?.touched">
              Formato de teléfono no válido (ej. 10 dígitos).
            </mat-error>
          </mat-form-field>
        </div>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Correo Electrónico</mat-label>
          <input matInput formControlName="correo" type="email" placeholder="correo@ejemplo.com" [readonly]="!isEditMode">
          </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Dirección</mat-label>
          <textarea matInput formControlName="direccion" rows="3" placeholder="Dirección completa" [readonly]="!isEditMode"></textarea>
          <mat-error *ngIf="solicitanteForm.get('direccion')?.hasError('required') && solicitanteForm.get('direccion')?.touched">
            La dirección es requerida
          </mat-error>
        </mat-form-field>

        <div class="form-row">
          <mat-form-field appearance="outline">
              <mat-label>Escolaridad ID</mat-label>
              <input matInput type="number" formControlName="escolaridadID" placeholder="ID Escolaridad" [readonly]="!isEditMode">
          </mat-form-field>

          <mat-form-field appearance="outline">
              <mat-label>Estado Civil ID</mat-label>
              <input matInput type="number" formControlName="estadoCivilID" placeholder="ID Estado Civil" [readonly]="!isEditMode">
          </mat-form-field>
        </div>

      </mat-expansion-panel>


      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>Domicilio del solicitante</strong>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="form-row">


            <mat-form-field appearance="outline">
                <mat-label>Fecha de Nacimiento</mat-label>
                <input matInput [matDatepicker]="pickerFechaNacimiento" formControlName="fechaNacimiento" placeholder="YYYY-MM-DD" [readonly]="!isEditMode">
                <mat-datepicker-toggle matSuffix [for]="pickerFechaNacimiento"></mat-datepicker-toggle>
                <mat-datepicker #pickerFechaNacimiento [disabled]="!isEditMode"></mat-datepicker>
            </mat-form-field>
        </div>
        </mat-expansion-panel>


      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>Información Socioeconómica</strong>
          </mat-panel-title>
        </mat-expansion-panel-header>


        </mat-expansion-panel>

    </mat-accordion>

    <div class="step-actions">
        <button *ngIf="precapturaPersonaID && !isEditMode"
                mat-stroked-button color="accent"
                (click)="enableEditMode()"
                class="edit-button">
            <mat-icon>edit</mat-icon>
            Habilitar Edición
        </button>

        <button *ngIf="isEditMode"
                mat-raised-button color="primary"
                [disabled]="solicitanteForm.invalid"
                (click)="guardarSolicitante()">
            {{ precapturaPersonaID ? 'Guardar Cambios' : 'Siguiente' }}
            <mat-icon>{{ precapturaPersonaID ? 'save' : 'navigate_next' }}</mat-icon>
        </button>

        <button *ngIf="!precapturaPersonaID && !isEditMode"
                mat-raised-button color="primary"
                (click)="enableEditMode()">
            Agregar Solicitante
            <mat-icon>add</mat-icon>
        </button>
    </div>

  </form>

</div>
